body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url(images/img.JPG);
    background-size: cover;  
    background-position: center;  
    background-attachment: fixed;  
    color: rgb(255, 255, 255); 
  }
  
  .hidden {
    display: none;
  }
  
  .message {
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }
  
  .info {
    color: blue;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
  }
  
  .difficulty-buttons button {
    margin: 5px;
  }




  
  
  




  



  
  


